

@{
    ViewBag.Title = "Index";
}

<h2>Curso de ASP MVC</h2>
<p>Curso ASP NET - Johnny Erick Dockhorn</p>

<br />
<br />


<form action="Home/ListaViewData" method="post">
    <fieldset>
        <legend>Informações de Pessoas - Utilizando ViewData</legend>
    </fieldset>

    <div>
        <label for="ID">Código</label>

    </div>
    <div>
        <input type="number" value="@ViewData["ID"]" name="ID" />
    </div>
    <div>
        <label for="Name">Name</label>

    </div>
    <div>
        <input type="text" value="@ViewData["Name"]" name="Name" />
    </div>
    <div>
        <label for="Type">Type</label>

    </div>
    <div>
        <input type="text" value="@ViewData["Type"]" name="Type" />
    </div>

    <p><input type="submit" value="Enviar" /></p>

</form>

<br />
<br />

