@model Introducao.Models.Pessoa
@{
    ViewBag.Title = "Listar";
}


<h2>Listar</h2>

<div><b>ID</b>: @Model.ID</div>
<div><b>Name</b>: @Model.Name</div>
<div><b>Type</b>: @Model.Type</div>

<a href="~/">Voltar para a página inicial!</a>
