
@{
    ViewBag.Title = "Lista View Data";
}


<h2>Lista</h2>

<div><b>ID</b></div>
<div>@ViewData["ID"]</div>

<div><b>Name</b></div>
<div>@ViewData["Name"]</div>

<div><b>Type</b></div>
<div>@ViewData["Type"]</div>

<a href="~/">Voltar para a página inicial!</a>
