@model Introducao.Models.Pessoa
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div><b>ID</b></div>
<div>@Model.ID</div>

<div><b>Name</b></div>
<div>@Model.Name</div>

<div><b>Type</b></div>
<div>@Model.Type</div>

<a href="~/">Voltar</a>
