@model Introducao.Models.Contatos

@{
    ViewBag.Title = "Listagem Tipada";
}


<h2>Lista</h2>

<div><b>ID</b></div>
<div>@Model.ID</div>

<div><b>Name</b></div>
<div>@Model.NameContact</div>

<div><b>Type</b></div>
<div>@Model.DescriptionContact</div>

<a href="~/">Voltar para a página inicial!</a>
