
@{
    ViewBag.Title = "Lista View Bag";
}


<h2>Lista</h2>

<div><b>ID</b></div>
<div>@ViewBag.ID</div>

<div><b>Name</b></div>
<div>@ViewBag.Name</div>

<div><b>Type</b></div>
<div>@ViewBag.Type</div>

<a href="~/">Voltar para a página inicial!</a>
